<footer class="border-top text-white bg-dark">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-4 text-center">
                &copy; 2020 - Games Mania Ltda ME<br>
                Rua Virtual Inexistente, 171, Compulândia/PC <br>
                CPNJ 99.999.999/0001-99
            </div>
            <div class="col-12 col-md-4 text-center">
                <a href="" class="text-decoration-none text-darkBlue">
                    Política de Privacidade
                </a><br>
                <a href="" class="text-decoration-none text-darkBlue">
                    Termos de Uso
                </a><br>
                <a href="" class="text-decoration-none text-darkBlue">
                    Quem Somos
                </a><br>
                <a href="" class="text-decoration-none text-darkBlue">
                    Trocas e Devoluções
                </a>
            </div>
            <div class="col-12 col-md-4 text-center">
                <a href="" class="text-decoration-none text-white">
                    Facebook
                </a><br>
                <a href="" class="text-decoration-none text-white">
                    Instagram
                </a><br>
                E-mail: <a href="mailto:email@dominio.com" class="text-decoration-none text-white">
                    email@dominio.com
                </a><br>
                Telefone: <a href="phone:28999990000" class="text-decoration-none text-white">
                    (28) 99999-0000
                </a>
            </div>
        </div>
    </div>
</footer>