
<main class="conteudoPrincipal">

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="titulo text-center">Bem vindo a nossa loja, Games Mania</h1>
                    <img src="./assets/fotos/fundo-gamers-vermelho.webp" alt="Banner" width="100%">
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section class="tituloDestaque">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="titulo text-center">Produtos Em Destaque:</h1>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section class="cards">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="./assets/fotos/x-box-1791671 (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title titulo">Xbox Series <S></S></h5>
                            <p class="card-text titulo">Xbox Series X Promoção 2,500R$</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./assets/fotos/nintendo-switch-2154437_1920.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title titulo">Nitendo Switch</h5>
                            <p class="card-text titulo">Nintendo Switch Promoção 2,000R$</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./assets/fotos/joystick-gbd008b157_1280.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title titulo">Controle Ps4</h5>
                            <p class="card-text titulo">Controle PS4, original lacrado na caixa, promoção
                                200R$</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./assets/fotos/x-box-1791671 (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title titulo">Xbox series S</h5>
                            <p class="card-text titulo">Console semi-novo na caixa com garantia, promoção
                                1,700R$.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section class="galeriaImagens">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="titulo text-center">Galeria de Imagens:</h1>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="./assets/fotos/x-box-1791671 (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Xbox Series <S></S></h5>
                            <p class="card-text">Xbox Series X Promoção 2,500R$</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./assets/fotos/nintendo-switch-2154437_1920.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nitendo Switch</h5>
                            <p class="card-text">Nintendo Switch Promoção 2,000R$</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./assets/fotos/joystick-gbd008b157_1280.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Controle Ps4</h5>
                            <p class="card-text">Controle PS4, original lacrado na caixa, promoção 200R$</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./assets/fotos/x-box-1791671 (1).jpg" class="card-img-top" alt="..." 
                            width="100">
                        <div class="card-body">
                            <h5 class="card-title">Xbox series S</h5>
                            <p class="card-text">Console semi-novo na caixa com garantia, promoção 1,700R$.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>

</main>

<app-footer></app-footer>
