
<section>
    <div class="container">
        <div class="row">
            <div class="col quadrado">
                <h1 class="titulo text-center">Mande nos um e-mail:</h1>
                <div class="mb-3 text-white">
                    <label for="exampleFormControlInput1" class="form-label">Ponha seu E-mai:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                </div>
                <div class="mb-3 text-white">
                    <label for="exampleFormControlTextarea1" class="form-label">Comente:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Muito feliz pelo atendimento." rows="3"></textarea>
                </div>
                <div class="mb-3 botao">
                    <button type="button" class="button">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer">
    <app-footer></app-footer>
</div>